<%if @listings.empty? %>

  <div class="no_results_found">
    Sorry, we couldn't find any results for your search
  </div>

<%else%>

  <%@listings.each do |listing|%>
    <div class="listing">
      <%=link_to listing.name, account_listing_path(listing.account_id, listing.id)%>
    </div>
  <%end%>

<%end%>
