<%= form_for @bid do |f| %>
  <select>
    <% @user.listings.each do |listing| %>

    <option value="<%= listing.id %>"><%= listing.name %></option>
    <%end%>
  </select>

	<%= f.submit "Bid" %>
<% end %>
