<h1>Hello <%= @account.username %>!</h1>

<div><%= link_to "Create a new listing!", new_account_listing_path(@account.id) %></div>

<br>

<div>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>
</div>
